<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/materialize.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2"></header>
{{!-- WILL NEED DRASTIC CHANGING I JUST SHOVED THE WHOLE INDEX. USE THIS AS THE TEMPLATE FOR HOME AND SPLIT UP THE INDEX ACCORDINGLY --}}
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
</body>

<script src="/js/materialize.js"></script>
<script src="/js/script.js"></script>

{{!-- IF NOT LOGGED IN && ON LOGIN PAGE SHOW THIS --}}
<script src="/js/login.js"></script>


</html>
