<title>Haunted Dollhouse - Log In</title>
<script src="/js/materialize.js"></script>
<script src="/js/script.js"></script>
<body style="background-image: url(/public/images/doll-ghost-bg.png); background-repeat:no-repeat; background-position: 110% 110%; background-attachment: scroll;">
    <div class="container">
      <h1 class="center-align" style="font-family: 'Gowun Batang', serif;">Haunted Dollhouse</h1>
      <div id ="login">
        <center><h5>Sorry! Under Construction!</h5></center>
        <center><a href = "/" class="waves-effect waves-light btn">Go Back</a></center>
  </div>
</body>