<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/materialize.css" media="screen,projection" type="text/css">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/149db67dc4.js" crossorigin="anonymous"></script>
  <title>Haunted Dollhouse</title>
</head>
<body>
  <div class="container">
<!-- Navigation and logo. -->
    <nav>
    {{!-- {{#> layouts/main.handlebars }} --}}
      <img src="/public/images/logo.png" id="logo">
      <a href="#"><h1 id="logo-text">Haunted Dollhouse</h1></a>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="right">
          <li><a href="#"  style=" margin-right: 1em;"><i class="fas fa-baby-carriage" style=" margin-right: .5em;"></i> CART</a></li>
          <li><a href="#"  style=" margin-right: 1em;"><i class="fas fa-ghost"  style=" margin-right: .5em;"></i> LOG IN</a></li>
        </ul>
      </div>
    </nav>
    {{!-- {{#> layouts/main.handlebars }} --}}
  </div>
<!-- Carousel of haunted doll reviews. -->
    <div class="carousel carousel-slider hide-on-med-and-down">
      <a class="carousel-item" href="#one!"><img src="/images/slider1.png"></a>
      <a class="carousel-item" href="#two!"><img src="/images/slider1.png"></a>
      <a class="carousel-item" href="#three!"><img src="/images/slider1.png"></a>
     </div>
<!-- Quick introduction to the site, including rating system. -->
  <div class="container">
    <div class="row">
      <div class="col l5" style="text-align:justify;">
          <h2>About Us</h2>
          <p>Haunted Dollhouse is the leading online retailer of doll vessels with attached spirits so active they're guaranteed to <strike> leave a pit of inconceivable dread in your stomach</strike> be a friend for life!</p>
          <h2>Contribute</h2>
          <p>Be a part of our community by rating each doll or leaving comments. And remember, if you take a doll home with you, be sure to leave a review.</p>
      </div>
      <div class="col l7">
        <center><img src="public/images/doll-ghost-illustration.png" width="80%"></center>
      </div>
    </div>
  </div>
<!-- Product listings. Larger screens will see rows of four, medium screens rows of two, and mobile rows of one.-->
<section id="products">
    <div class="row">
        <div class="col l3 m6">
          <div class="card">
            <div class="card-image">
              <img src="/images/product-example-1.jpg">
              <span class="card-title">Product Name</span>
<!-- Add to cart button. Clicking on this will alert the user. -->
              <a class="btn-floating halfway-fab waves-effect waves-light" onclick="M.toast({html: 'Added to cart!'})"><i class="fas fa-baby-carriage"></i></a>
            </div>
            <div class="card-content">
              <p>This is where the product description will go. A brief excerpt that can be truncated.</p>
            </div>
            <div class="card-action">
                <p>Haunted Rating: 0%</p>
                <a href ='' class="waves-effect waves-light btn">Read More</a>
            </div>
            </div>
        </div>
        {{#each artifacts as |artifact| }}
        {{> artifact-card }}
        {{/each}}
        <div class="col l3 m6">
            <div class="card">
              <div class="card-image">
                <img src="/images/product-example-1.jpg">
                <span class="card-title">Product Name</span>
                <a class="btn-floating halfway-fab waves-effect waves-light" onclick="M.toast({html: 'Added to cart!'})"><i class="fas fa-baby-carriage"></i></a>
              </div>
              <div class="card-content">
                <p>This is where the product description will go. A brief excerpt that can be truncated.</p>
              </div>
              <div class="card-action">
                <p>Haunted Rating: 0%</p>
                <a class="waves-effect waves-light btn">Read More</a>
            </div>
              </div>
          </div>
          <div class="col l3 m6">
            <div class="card">
              <div class="card-image">
                <img src="/images/product-example-1.jpg">
                <span class="card-title">Product Name</span>
                <a class="btn-floating halfway-fab waves-effect waves-light" onclick="M.toast({html: 'Added to cart!'})"><i class="fas fa-baby-carriage"></i></a>
              </div>
              <div class="card-content">
                <p>This is where the product description will go. A brief excerpt that can be truncated.</p>
              </div>
              <div class="card-action">
                <p>Haunted Rating: 0%</p>
                <a class="waves-effect waves-light btn">Read More</a>
            </div>
              </div>
          </div>
          <div class="col l3 m6">
            <div class="card">
              <div class="card-image">
                <img src="/images/product-example-1.jpg">
                <span class="card-title">Product Name</span>
                <a class="btn-floating halfway-fab waves-effect waves-light" onclick="M.toast({html: 'Added to cart!'})"><i class="fas fa-baby-carriage"></i></a>
              </div>
              <div class="card-content">
                <p>This is where the product description will go. A brief excerpt that can be truncated.</p>
              </div>
              <div class="card-action">
                <p>Haunted Rating: 0%</p>
                <a class="waves-effect waves-light btn">Read More</a>
            </div>
              </div>
          </div>
    </div>
    <div class="row">
        <div class="col l3 m6">
          <div class="card">
            <div class="card-image">
              <img src="/images/product-example-1.jpg">
              <span class="card-title">Product Name</span>
              <a class="btn-floating halfway-fab waves-effect waves-light" onclick="M.toast({html: 'Added to cart!'})"><i class="fas fa-baby-carriage"></i></a>
            </div>
            <div class="card-content">
              <p>This is where the product description will go. A brief excerpt that can be truncated.</p>
            </div>
            <div class="card-action">
                <p>Haunted Rating: 0%</p>
                <a class="waves-effect waves-light btn">Read More</a>
            </div>
            </div>
        </div>
        <div class="col l3 m6">
            <div class="card">
              <div class="card-image">
                <img src="/images/product-example-1.jpg">
                <span class="card-title">Product Name</span>
                <a class="btn-floating halfway-fab waves-effect waves-light" onclick="M.toast({html: 'Added to cart!'})"><i class="fas fa-baby-carriage"></i></a>
              </div>
              <div class="card-content">
                <p>This is where the product description will go. A brief excerpt that can be truncated.</p>
              </div>
              <div class="card-action">
                <p>Haunted Rating: 0%</p>
                <a class="waves-effect waves-light btn">Read More</a>
            </div>
              </div>
          </div>
          <div class="col l3 m6">
            <div class="card">
              <div class="card-image">
                <img src="/images/product-example-1.jpg">
                <span class="card-title">Product Name</span>
                <a class="btn-floating halfway-fab waves-effect waves-light" onclick="M.toast({html: 'Added to cart!'})"><i class="fas fa-baby-carriage"></i></a>
              </div>
              <div class="card-content">
                <p>This is where the product description will go. A brief excerpt that can be truncated.</p>
              </div>
              <div class="card-action">
                <p>Haunted Rating: 0%</p>
                <a class="waves-effect waves-light btn">Read More</a>
            </div>
              </div>
          </div>
          <div class="col l3 m6">
            <div class="card">
              <div class="card-image">
                <img src="/images/product-example-1.jpg">
                <span class="card-title">Product Name</span>
                <a class="btn-floating halfway-fab waves-effect waves-light" onclick="M.toast({html: 'Added to cart!'})"><i class="fas fa-baby-carriage"></i></a>
              </div>
              <div class="card-content">
                <p>This is where the product description will go. A brief excerpt that can be truncated.</p>
              </div>
              <div class="card-action">
                <p>Haunted Rating: 0%</p>
                <a class="waves-effect waves-light btn">Read More</a>
            </div>
              </div>
          </div>
    </div>
<!-- Pagination for product listings. -->
    <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="far fa-arrow-left"></i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="far fa-arrow-right"></i></a></li>
      </ul>
    </div>
  </div>
</div>
</section>

<!-- Optional carousel reviews.  Simply uncomment below to enable. -->
<!-- <center><h5 style="padding:1em;">See what our customers are really saying!</h5></center>
<div class="carousel carousel-slider center" id="reviews">
  <div class="carousel-item" href="#one!">
    <p class="white-text">"I like this doll. My daughter is going to love it. The outer box is awesome. I don’t have to wrap it, but will be. Opened it up and a cute story about the doll was displayed on top. There is a good amount of hair. There is a good amount of teeth. There are more limbs than expected. There is the sound of unending silence and despair. She looks just like my daughter. She looks just like my mother. She is all I see. If you are willing to wait out the shipping (it comes with tracking!), you will be delighted with the addition to your household. I will need for nothing ever again. Nothing. Nothing. Nothing. Nothing. Nothing. Nothing. Noth"</p>
    <h4>- Jay F.</h4>
  </div>
  </div>
</div> -->

<!-- Footer is separated into Contact Us and links to socials. -->
<footer class="page-footer">
  <div class="container">
   <div class="row">
    <div class="col l6 s12">
     <h5>Contact Us</h5>
     <a href="mailto:info@hauntedollhouse.com">info@hauntedollhouse.com</a>
    <p>6-666-666-666</p>
    <p>Live Chat Available Never</p>
    </div>
    <div class="col l4 offset-l2 s12 right-align">
      <h5>Links</h5>
      <ul>
        <li><a href="#!">ABOUT</a></li>
        <li><a href="#!">STAFF</a></li>
      </ul>
      <ul id="socials">
        <li><a href="#!"><i class="fab fa-instagram fa-3x"></i></a></li>
        <li><a href="#!"><i class="fab fa-twitter-square fa-3x"></i></a></li>
        <li><a href="#!"><i class="fab fa-ebay fa-3x"></i></a></li>
       </ul>
    </div>
   </div>
  </div>
  <div class="footer-copyright">
    © 2021 Haunted Dollhouse
  </div>
</div>
 </footer>
<!-- Calling in Materialize, additional js files needed. -->
<script src="/js/materialize.js"></script>
<script src="/js/script.js"></script>
</body>
</html>