<body>
    <h1>Create Post</h1>

     <form class="form post_form">
      <div class="form-group">
        <label for="title_post">Title:</label>
        <input class="form-input" type="text" id="title_post" />
      </div>
      <div class="form-group">
        <label for="description_post">Description:</label>
        <input class="form-input" type="text" id="description_post" />
      </div>
      <div class="form-group">
        <label for="price_post">price:</label>
        <input class="form-input" type="price" id="price_post" />
      </div>
      <div class="form-group">
        {{!-- UPLOAD FILE HERE --}}
        {{!-- GOTTA FIGURE OUT IF IT CAN BE DONE OR IF WE'LL JUST NAME THE FILENAME --}}
        {{!-- WHEN DONE CALL THE ID 'filename_post' --}}
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">post</button>
      </div>
    </form>
  </div>
</div>

</body>
