<title>Haunted Dollhouse - Create New Post</title>

<body style="background-image: url(/public/images/doll-ghost-bg.png); background-repeat:no-repeat; background-position: 110% 110%; background-attachment: scroll;">
    <div class="container">
      <h1 class="center-align" style="font-family: 'Gowun Batang', serif;">Haunted Dollhouse</h1>
    <div id ="login">
      <center><h5>Create new post</h5></center> 
      <form class="form post_form center-align">
        <div class="input-field">
          <label for="title_post">Title:</label>
          <input class="form-input" type="text" id="title_post" />
        </div>
        <div class="input-field">
          <label for="description_post">Description:</label>
          <input class="form-input" type="text" id="description_post" />
        </div>
        <div class="input-field">
          <label for="price_post">Price:</label>
          <input class="form-input" type="text" id="price_post" />
        </div>
          <div class="input-field col s12" >
            <select id="filename_post">
            <option value="" disabled selected>Please select one</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            </select>
            <label>Select one</label>
          </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Post</button>
        </div>
      </form>
    </div>
  </div>
  <script src="/js/materialize.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/createPost.js"></script>
</body>