<title>Haunted Dollhouse - Sign Up</title>
<body style="background-image: url(/public/images/doll-ghost-bg.png); background-repeat:no-repeat; background-position: 110% 110%; background-attachment: scroll;">
    <div class="container">
      <h1 class="center-align" style="font-family: 'Gowun Batang', serif;">Haunted Dollhouse</h1>
    <div id ="login">
      <center><h5>Please complete the form below to create new account.</h5></center>
      <form class="form signup_form">
        <div class="form-group">
          <label for="username_signup">Username:</label>
          <input class="form-input" type="text" id="username_signup" />
        </div>
        <div class="form-group">
          <label for="email_signup">Email:</label>
            <input class="form-input" type="text" id="email_signup" />
            </div>
        <div class="form-group">
          <label for="password_signup">Password:</label>
          <input class="form-input" type="password" id="password_signup" />
        </div>
        <div class="form-group">
         <label for="password_signup">Please re-enter password:</label>
         <input class="form-input" type="password" id="validatePassword" />
        </div>
        <div class="form-group">
          <button class="btn btn-large waves-effect" type="submit">Signup</button>
        </div>
    </form>
    </div>
  </div>
  <script src="/js/signup.js"></script>
</body>