<body>
    <h1>SignUp</h1>

     <form class="form signup_form">
      <div class="form-group">
        <label for="username_signup">Username:</label>
        <input class="form-input" type="text" id="username_signup" />
      </div>
      <div class="form-group">
        <label for="email_signup">Email:</label>
        <input class="form-input" type="text" id="email_signup" />
      </div>
      <div class="form-group">
        <label for="password_signup">Password:</label>
        <input class="form-input" type="password" id="password_signup" />
      </div>
      <div class="form-group">
        <label for="password_signup">Enter password Again:</label>
        <input class="form-input" type="password" id="validatePassword" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

</body>
</html>