<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff</title>
</head>
<body>
    <h1>Staff Page</h1>
    <p>This application allows users to post about the most cursed artifacts on the internet 
        as well as allow them to search for specific ones as well. I Ebad Rehman am one of the contricutors, 
        here is my github Portfolio link. <a href="https://ebadrehman92.github.io/Portfolio/">Portfolio</a></p>
        <img src="/images/download.png">
</body>
</html>