h2 {
    font-size: 2.5em;
    text-align: center;
    letter-spacing: .2em;
    text-decoration-line: underline;
    text-decoration-style: "solid";
    text-decoration-color: #F2F2EE;
    text-decoration-thickness: 1px;
}
h2, h5, h3 {
    color: #6b6f7b;
    text-transform: uppercase;
}
h3 {
    letter-spacing: .1em;
    text-align: center;

}
a {
    color: #F2F2EE;
}
p, a {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: large;
}
body {
    background-color: #15171B;
    color: #F2F2EE;
}
nav {
    background-color: #15171B;
    box-shadow: none;
    -webkit-box-shadow: none;
}
nav ul a {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 1.5em 0em;
}
#logo {
    margin: 2em 2em 0em 0em;
}
#logo, #logo-text {
    float: left;
}
#logo-text {
    font-family: 'Gowun Batang', serif; 
    color:white;
    margin: .5em 0em;
    text-align: center;
}
#products {
    background-color: #8C8E8A;
    padding: .5em 4em;
}
#reviews {
    background-color: #6b6f7b;
    height: 300px;
    width: 70%;
    margin: 1em auto 5em auto;
}
#reviews p {
    font-size: 1.2em;
    padding: 4em 3em 1em 3em;
}
#socials li{
    display: inline;
    margin: 0em .5em;
}
.container {
    max-width: none;
}
.row {
    margin-bottom: 20px;
    margin-top: 20px;
}
.illustration {
    width: 80%;
}
.card {
    margin: 2em 1em;
    background-color: #F2F2EE;
    color: #15171B;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 0px;
}
.card .card-image img {
    border-radius: 0px;
}
.card .card-action {
    text-align: center;
    padding: 0;
    font-family: 'Gowun Batang', serif;
}
.card .card-image .card-title {
    background-color: #15171b;
    font-family: 'Gowun Batang', serif;
    text-align: center;
    width: 100%;
    padding: .2em;
}
/* This effectively truncates the description of each product. */
.card .card-content p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 90px;
}
.btn {
    width: 100%;
    background-color: #6b6f7b;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    letter-spacing: .2em;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.btn:hover {
    background-color: #15171b;
    box-shadow: 0 5px 20px 0 #F2F2EE;
}
.btn-floating.halfway-fab {
    background-color: #6b6f7b;
    height: 60px;
    width: 60px;
    right: 14px;
}
.btn-floating i {
    line-height: 60px;
}
.btn-small {
    background-color: #6b6f7b;
}
.btn-small:hover {
    background-color: #15171b;
    box-shadow: 0 5px 20px 0 #F2F2EE;
}
.toast {
    background-color: #15171B;
    font-size: 1.5em;
    min-width: 8%;
    top: 70%;
    right: 30%;
}
/* Pagination customization. */
.pagination {
    text-align: center;
}
.pagination li.active {
    background-color: #7f8280;
}
.page-footer {
    background-color: #0a0a0b;
}
.page-footer .footer-copyright {
    display:block;
    text-align: center;
}
/* Styling specific to the login and sign up page. */
#login {
    background-color: #F2F2EE;
    padding: 5em;
}
/* Styling specific to the staff page. */
.staff-photo {
    width: 170px;
    margin: auto;
    display: block;
    border-radius: 100%;
}
/* Minor cosmetic changes for smaller screens. */
@media only screen and (max-width: 1028px) {
    #logo {
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #products {
        padding: 1em;
        }
        .row {
            margin: 0;
        }
        .illustration {
            width: 100%;
        }
        .card .card-image .card-title {
            text-align: left;
            padding-left: 1em;
        }
        .carousel {
            height: 200px;
        }
        .carousel-item {
            height: 200px;
            transform: none;
        }
        nav ul a {
            margin: 0;
        }
}